[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipykernel = "*"
nbstripout = "*"
pre-commit = "*"
nbdime = "*"
nbconvert = {extras = ["webpdf"], version = "*"}
playwright = "==1.56.0"
pandas = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
datasets = "*"
nltk = "*"
qiskit = "*"
qiskit-machine-learning = "*"
qiskit-algorithms = "*"
pylatexenc = "*"
qiskit-aer = "*"

[dev-packages]

[requires]
python_version = "3.14"
